<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Scribble Spot | <%= page %>
  </title>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" type="text/css" href="/css/bootstrap-icons.css">
  <script src="/js/bootstrap.bundle.min.js"></script>
</head>