<!DOCTYPE html>
<html lang="en">
<%- include("partials/head.ejs", {page: "Homepage" }) %>

  <body class="vh-100 custom-bg" data-bs-theme="custom">
    <%- include('partials/nav.ejs', {auth: auth, page: "Homepage" }) %>
      <main class="container d-flex justify-content-center align-items-center w-100 h-100 px-sm-2 mx-auto flex-column">
        <h1 class="fs-big text-center">Welcome to <span class="scribble-logo fw-bold text-primary"><i>Scribble
              Spot!</i></span></h1>
        <p class="lead text-center">
          <i>Where every thought finds a home, start scribbling today!</i>
        </p>
        <span class="d-flex flex-column flex-md-row justify-content-center w-100 gap-3 mt-2 mx-auto">
          <a href="/demoPage" class="btn btn-primary btn-md">View Demo</a>
          <% if (auth) { %>
            <a href="/dashboard" class="btn btn-secondary btn-md">Go to Dashboard</a>
            <% } else { %>
              <a href="/getStarted" class="btn btn-secondary btn-md">Get Started</a>
              <% } %>
        </span>
      </main>
  </body>

</html>