<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', {page: "Create Scribble" }) %>

    <body data-bs-theme="custom">
        <%- include('../partials/nav.ejs', {auth: auth}) %>
            <main class="p-5 d-flex flex-column mt-5">
                <h1 class="h1 fw-normal text-left">Start a New Scribble</h1>
                <div class="w-75 mx-auto">
                    <form action="/newScribble" method="POST" class="d-flex flex-column mt-3 card" id="newScribble">
                        <div class="card-header d-flex align-items-center gap-2">
                            <label for="title" class="text-nowrap">Title:</label>
                            <input type="text" class="form-control" id="title" name="title" required />
                        </div>
                        <div class="card-body d-flex flex-column gap-2">
                            <label for="content">Start Scribbling Your Thoughts:</label>
                            <textarea id="content" name="content" class="scribbleArea form-control" required></textarea>
                        </div>
                        <div class="card-footer d-flex align-items-center justify-content-between">
                            <span>
                                <%= author %>
                            </span>
                            <div class="btn-group">
                                <input type="radio" id="publish" name="publishStatus" value="publish"
                                    class="radio-check" checked>
                                <label for="publish"
                                    class="btn btn-sm btn-outline-secondary rounded-start">Publish</label>
                                <input type="radio" id="draft" name="publishStatus" value="draft"
                                    class="radio-check-secondary">
                                <label for="draft" class="btn btn-sm btn-outline-secondary rounded-end">Save
                                    Draft</label>
                            </div>
                        </div>
                    </form>
                    <input type="submit" form="newScribble" value="Create Scribble"
                        class="btn btn-primary w-100 py-2 mt-3" />
                </div>
            </main>
    </body>

</html>